@import '../variables.scss';

.typewriter {
    border-right: .15em solid orange;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding-top: 20px;
    padding-right: 5px;
    display: inline-block;
    max-width: fit-content;
    letter-spacing: 0.01em;
    transition: $transition-default;
    animation:
        typing 2s steps(40, end),
        blink-caret 0.75s step-end infinite;
}

.dark-mode #banner-img {
    box-shadow: none;
}

#banner-img {
    box-shadow: $box-shadow-4;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}