@import '../variables.scss';

#contact {
    .container {
        width: 60%;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 10px 0;

        .orangeBtn {
            width: 40px;
            height: 40px;
            padding: 0;
            margin-right: 20px;
        }

        p {
            margin: 5px;
            color: gray;
        }

        span {
            font-weight: bold;
        }
    }
}
