@import '../variables.scss';

body {
    background-color: antiquewhite;

    .logo-light {
        max-width: 0;
    }

    .logo-dark {
        max-width: 150px;
    }

    .screen-light {
        max-width: 0;
    }

    .screen-dark {
        max-width: 30px;
    }
}

body.dark-mode {
    background-color: $background-dark;
    color: $text-normal-dark;

    a {
        color: $text-normal-dark;
    }

    .logo-light {
        max-width: 150px;
    }

    .logo-dark {
        max-width: 0;
    }

    .screen-light {
        max-width: 30px;
    }

    .screen-dark {
        max-width: 0;
    }
}
