@import './variables.scss';

.banner-img:hover {
  transform: scale(2) translateY(20%);
}

body a.menu-item {
  display: flex;
  padding: 0;
  font-weight: bold;

  &::after {
    margin-left: auto;
    content: '';
    display: block;
    background-color: gray;
    width: 4px;
    height: 50px;
    transition: $transition-default;
  }

  &:hover,
  &.active {
    color: $color-orange-2;

    &::after {
      background-color: $color-yellow-5;
      box-shadow: $box-shadow-3;
    }
  }
}

body.dark-mode a.menu-item {

  &:hover,
  &.active {
    color: $color-yellow-4;

    &::after {
      background-color: $color-yellow-4;
      box-shadow: $box-shadow-2;
    }
  }
}

body #project {
  .tech-btn {
    color: white;
  }
}