@tailwind base;
@tailwind components;
@tailwind utilities;
@import './variables.scss';

html,
body {
    scroll-behavior: smooth;
    transition: $transition-default;
    background-color: $background-light;
    color: $text-normal-light;
    min-height: 100vh;
    font-size: $text-size-normal;
    position: relative;
}

ul {
    list-style-type: none;
}

a {
    transition: $transition-default;
    color: $text-normal-light;
}

img {
    transition: $transition-default;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.title {
    text-align: center;

    h1 {
        font-weight: bold;
        margin: 20px 0;
        padding-bottom: 20px;
        color: $color-yellow-5;
        background-image: linear-gradient(-225deg, #b33304 0);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        display: inline-block;
        transition: $transition-default;

        &:hover {
            -webkit-text-fill-color: transparent;

            background-image: linear-gradient(-500deg,
                    #b33304 30%,
                    #ffc400 70%);

            animation: textclip 2s linear infinite;
        }
    }
}


section {
    position: fixed;
    top: 0;
    left: 0;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 0;
    max-height: 100%;
    width: 100%;
    display: none;

    .section-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

section.active {
    display: block;
    transition: $transition-default;
    height: 100vh;
}

.picture-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orangeBtn {
    background-color: $color-orange-1;
    border: 1px solid transparent;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 12px 36px;
    transition: all 0.5s;
    text-transform: uppercase;

    &:hover,
    &:active {
        background-color: #b33304;
    }
}




@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.animate__animated.animate__slideInRight,
.animate__animated.animate__slideInUp {
    --animate-duration: 2s;
}