$background-dark: #131313;
$text-normal-dark: #ffffff;


$background-light: #fff7f7;
$text-normal-light: black;

$color-orange-1: #dd4d19;
$color-orange-2: #b33304;
$color-gray-1: #a5a5a5;
$color-gray-2: #535353;
$color-yellow-1: #ffeccb;
$color-yellow-2: #f7dab4;
$color-yellow-3: #d4b285;
$color-yellow-4: #fcd34d;
$color-yellow-5: #f59e0b;

$box-shadow-1: 0 10px 15px -3px rgba(179, 94, 25, 0.1), 0 4px 6px -4px rgba(255, 77, 42, 0.1);
$box-shadow-2: 0px 0px 10px 5px rgba(252, 211, 77, 0.8);
$box-shadow-3: 0px 0px 10px 5px rgba(255, 174, 142, 0.8);

$transition-default: all 0.5s;

$text-size-normal: 20px;
$text-size-header: 30px;